<div class = "container">
  <div class = "welcome-header">
    <p class = "welcome">Welcome <%= @user.first_name %>,</p><br><p class = "card-text">have a quick look at your activities!</p>
  </div>

  <div class = "row">
    <div class = "column">
      <div class = "card">
        <h3><%= Date.today.strftime("%A, %B %e, %Y") %></h3>
        <hr>
        <% booking_count = @user.bookings.count %>
        <% if booking_count > 1 %>
          <p class = "card-text">You have made <%= booking_count %> bookings so far!</p>
        <% elsif%>
          <p class = "card-text">You have made only <%= booking_count %> booking so far!</p>
        <% else %>
          <p class = "card-text">You have made no bookings yet</p>
        <% end %>

      </div>
    </div>
    <div class = "column">
      <div class = "card">
        <h3>Total Revenue</h3>
        <hr>
        <p class = "card-text">$1250</p>
      </div>
    </div>

    <div class = "column">
      <div class = "card">
        <h3>Your Shops</h3>
        <hr>
        <% shop_count = @user.shops.count %>
        <% if shop_count > 1 %>
          <p class = "card-text d-inline">You have <%= shop_count %> shops on our platform!</p>
        <% else %>
          <p class = "card-text">You have no shops here yet!</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class = "row-main">
    <div class = "column-main">
      <div class = "card-main">
          <% if @next_booking %>
             <div class="innertxt">
                <h3 class = "text-center">Your upcoming rental</h3>
                <hr>
                <div>
                  <h3 class = "d-inline">Booking Number:</h3> <p class = "card-text d-inline"><%= @next_booking.id %></p>
                </div>
                <div>
                  <h3 class = "d-inline">Renting:</h3> <p class = "card-text d-inline"><%= @next_booking.unit.title %></p>
                </div>
                <div>
                  <h3 class = "d-inline">Start:</h3> <p class = "card-text d-inline"><%= @next_booking.start_date.strftime("%A, %B %e, %Y") %></p>
                </div>
                <div>
                  <h3 class = "d-inline">End:</h3> <p class = "card-text d-inline"><%= @next_booking.end_date.strftime("%A, %B %e, %Y") %></p>
                </div>
              </div>
            <% end %>
      </div>
    </div>

    <div class = "column-main">
      <div class = "card-main">
        <h3 class = "text-center">Past Bookings</h3>
        <hr>
        <% @bookings.each do |booking| %>
          <div>
            <h3 class = "d-inline">Rented:</h3><p class = "card-text d-inline"><%= booking.unit.title %></p>
          </div>
          <div>
            <h3 class = "d-inline">Start:</h3><p class = "card-text d-inline"><%= booking.start_date.strftime("%A, %B %e, %Y") %></p>
          </div>
          <div>
            <h3 class = "d-inline">End:</h3> <p class = "card-text d-inline"><%= booking.end_date.strftime("%A, %B %e, %Y") %></p>
          </div>
          <div>
            <h3 class = "d-inline">Amount spent:</h3> <p class = "card-text d-inline">$<%= booking.unit.price  %></p>
          </div>
          <hr>
        <% end %>
      </div>
    </div>


  </div>

</div>



<%#

<div class="container mt-4 position-relative">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="welcome">
        <h3 class="text-center mb-4 py-3">Welcome <%= @user.first_name %></h3>
      <%# </div>
    </div>
  </div> %>


  <!-- Button trigger modal -->
  <div class="d-flex justify-content-center">
    <button type="button" class="shop-create-button" data-toggle="modal" data-target="#exampleModal">
      Start your shop
    </button>
  </div>



  <%# <div> %>
    <%# <div class="row justify-content-center"> %>
     <%# <div class="col-md-6"> %>
      <%# <div class="container mt-4"> %>
        <%# <div class="row justify-content-center"> %>
          <%# if @next_booking %>
            <%# <div class="innertxt"> %>
            <%# <h3 class="text-center">Your upcoming rental</h3> %>
                <%# <>Booking Number: <%= @next_booking.id %>
                <%# <>Renting: <%= @next_booking.unit.title %>
                <%# <>Date: <%= @next_booking.start_date %>
                <%# <>Until: <%= @next_booking.end_date %>
                <%# </div> %>
                <%# <div> %>
                  <%# <h3>All your bookings</h3> %>
                  <%# @bookings.each do |booking| %>
                  <%# <p> = booking.unit.title</p> %>
                  <%#<p> Rental period:<%#= booking.start_date %> <%#until <%#= booking.end_date %>
                  <%#<p>Price: <%#= booking.unit.price </p> %>
                  <%# end %>
                <%# </div>
              </div>
            </div> %>
          <%# <% else %>
            <%# <p class="text-center">You have no upcoming bookings</p> %>
          <%# <% end %>
        <%# </div> %>
      <%# </div> %>
  <%# </div> %>

  <%# <div>
  </div> %>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Create Your Shop</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for(@shop, html: { class: 'mt-4' }) do |modal_form| %>
            <%= modal_form.input :title, label: 'Title' %>
            <%= modal_form.input :description, label: 'Description' %>
            <%= modal_form.input :photo, as: :file, label: 'Photo' %>
            <%= modal_form.submit 'Submit', class: 'button mt-3' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
