
<head>
  <%= stylesheet_link_tag 'styles' %>
  <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap" rel="stylesheet">
</head>

<div id="header">
  <h1><%= @shop.title %></h1>
</div>

<div class="content-container">
  <div class="left-column">
    <div class="description-container">
      <h2><%= @shop.description %></h2>
    </div>

    <div class="welcome-container">
      <% if current_user && current_user.id == @shop.user_id %>
        <%= button_to "Add a new unit to your Shop", new_shop_unit_path(@shop), method: :get %>
      <% end %>
    </div>
  </div>

<div class="right-column">
  <div class="units-container">
    <% @units.each do |unit| %>
      <div class="unit-card">
        <%= link_to shop_unit_path(@shop, unit), class: "unit-circle" do %>
          <div style="background-image: url('<%= cl_image_path(unit.photo.key) %>');" class="unit-circle">
            <p class="unit-description"><%= unit.description %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
