<div class = "container">
  <div class = "row">
    <div class = "col-md-6 col-6 order-details">
      <h5>Order Details</h5>
      <p><%= @unit.title %></p>
      <p><%= @unit.description %></p>
      <p>You want this unit from: <%= @booking.start_date.strftime("%A, %B %e, %Y")%></p>
      <p>and return it on <%= @booking.end_date.strftime("%A, %B %e, %Y")%></p>
      <p>Total Due Today:</p>
      <p>$<%= @unit.price %></p>
    </div>
    <div class = "col-md-6 col-6 col-12">
      <form id = "payment-form" data-controller="checkout" data-stripe-publishable-key="pk_test_51OKJzWDe6YLq2K8ipMsgBKaGwZbOe9jl7hgcJGsBTG4ruh8BQElSWmun2g2YJdltCHtc5HnIXdt2g2t36OJJcZr900vUXkLvoZ" data-stripe-client-secret="<%= @payment_intent_client_secret %>">
        <div id = "payment-message" class="hidden"></div>
        <div id = "payment-element"></div>
        <button id = "submit" class = "btn btn-success mt-3">
          <div class = "spinner hidden" id = "spinner"></div>
          <span id = "button-text">Pay now</span>
        </button>
      </form>
    </div>
  </div>
  <!-- <h1>Pay for your booking <%= @booking.id %> : $<%= @booking.unit.price %></h1> -->


</div>
