<%= simple_form_for([@shop, @unit]) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prevented this unit from being saved:</h2>

      <ul>
        <% @unit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :available, as: :boolean %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
