<div  class = "container">
  <h1 class = "header-text">Units to choose from</h1>
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
  <% end %>




<div class = "row">
    <% @units.each do |unit| %>
      <div class = "column">
        <div class = "card">
          <!-- Just making sure I see the units. It can be removed later-->
           <% if unit.photo.attached? %>
              <%= cl_image_tag(unit.photo.key, class: "card-img") %>
            <% end %>
            <div class="card-text-content">
              <h6><%= unit.title %></h6>
              <p><%= unit.description %></p>
              <p>$<%= unit.price %></p>
            <%= link_to "Book now", new_shop_unit_booking_path(unit.shop, unit), class: "book-now" %>
            </div>


        </div>
      </div>
    <% end %>
  </div>


  <%= link_to "Dashboard", dashboard_path, class: "btn-flat btn-dashboard"%>
</div>
