<head>
  <%= stylesheet_link_tag 'styles' %>
  <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap" rel="stylesheet">
</head>

<div class="unit-card">
  <h1>Unit Details</h1>
  <div class="unit-details">
    <h2><%= @unit.title %></h2>
    <p>Description: <%= @unit.description %></p>
    <div id="shopcard">
    <%= link_to "Back to browse", "/units/" %>
    <%= link_to @shop.title, shop_path(@unit.shop) %>
    <%= link_to "Book now", new_shop_unit_booking_path(@unit.shop, @unit) %>
    </div>
  </div>
</div>

<%= link_to "Back", units_path %>
