<head>
  <%= stylesheet_link_tag 'styles' %>
  <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap" rel="stylesheet">
</head>

<div class="unit-cardtwo">
  <h1>Unit Details</h1>
  <div class="unit-details">
    <%= cl_image_tag(@unit.photo.key, class: "card-img") %>
    <h2><%= @unit.title %></h2>
    <p>Description: <%= @unit.description %></p>
    <div id="shopcard">

    <%= link_to "Back to browse", "/units/" %>
    <%= link_to @shop.title, shop_path(@unit.shop) %>
    <%= link_to "Book now", new_shop_unit_booking_path(@unit.shop, @unit), class: "book-now", data: { turbo_frame: "remote_modal" } %>
    </div>
  </div>
</div>

<div class ="mt-4">
  <h2 class="text-center"> Check Availability </h2>
  <div>
    <%= month_calendar(events: @bookings, attribute: :start_date, end_attribute: :end_date) do |date, bookings| %>
    <%= date %>
    <% bookings.each do |booking| %>
    <div class="bookingcard">

      <p>Booked by: <%= booking.user.first_name %></p>
    </div>
    <% end %>
  <% end %>
  </div>
</div>



<%= link_to "Back", units_path %>
